{% extends "templates/base.html" %}
{% block title %} 
<title>UMET</title>

{%endblock%}

{% block h2 %} 

<h2>Michigan Equestrian Team</h2>
{%endblock%}
{% block content %} 

<div class="row last_part">
	<div class="equalheight">
		<div class="col-sm-6">
	  		<div class="col-sm-1"></div>
	    	<div class="col-sm-11 height">
	        	<h4>The Team</h4>
				<p>
					<img src="static/teampic.jpg" width = "200" alt="team pic"><br>
					I am involved in the Michigan Equestrian Team, and am an officer on the board.  I have spent my sophomore year as New Member Coordinator, and am looking forward to my junior year as Points Secretary and <a href="http://www.umich.edu/~micheqtm/">Webmaster</a> (I have yet to recieve the code to update the site yet).  The equestrian team is without a doubt my favorite part of college.  I have made the majority of my college friends on the team.  We compete at about 8 horse shows throughout the school year with the Intercolligiate Horse Show Association (IHSA) and host a number of social activities such as cider mill trips, movie and ice cream nights, and parties.  I wouldn't trade my time on the team for the world. 
				</p>
	     	</div>
	  	</div>
		<div class="col-sm-6">
		  	<div class="col-sm-11 height">
		        <h4>Willowbrooke Farm</h4>
				<p>
					The Michigan Equestrian Team rides at <a href="http://www.willowbrooke-farm.com/" >Willowbrooke Farm</a> in Plymouth (about 20 minutes from campus) and is coached by Jennifer Blades.  We have biweekly practices on Tuesdays for flat riders and on Wednesday for jump riders at Willowbrooke, and many riders also take weekly lessons.  I take lessons with some of the most awesome people ever :).<br>
					<img src="static/lessonpic.jpg" width = "200" alt="lesson pic">
				</p>
	     	</div>
	     	<div class="col-sm-1"></div>
	    </div>
	</div>
</div>

{%endblock%}