{% extends "templates/base.html" %}
{% block title %} 
<title>Why Ride?</title>

{%endblock%}

{% block h2 %} 

<h2>Why Ride?</h2>
{%endblock%}
{% block content %} 

<div class="row">
	<div class="equalheight">
		<div class="col-sm-6">
	  		<div class="col-sm-1"></div>
	    	<div class="col-sm-11 height">
	        	<h4>Benefits</h4>
				<ul>
					<li>Learning to take care of a horse (grooming, tacking up, cleaning up) teaches responsibility </li>
					<li>Teaches sportsmanship</li>
					<li>You learn to trust a horse, and you learn how to make the horse trust you</li>
					<li>Riding builds core strength and balance</li>
					<li>Jumping feels like flying and who doesn't want to fly?</li>
					<li>You are able to forget all your worries and just focus on riding</li>
				</ul>
	     	</div>
	  	</div>
		<div class="col-sm-6">
		  	<div class="col-sm-11 height">
				<h4>Finding the Right Barn</h4>
				<ul>
					<li>Tour the barn first: see how the horses are treated, is the barn well maintained?</li>
					<li>Meet the trainers: do you feel respected? Do you think this trainer will be able to get you to the level you want?</li>
					<li>Think about where you want to end up: do you want to be competing at a high level eventually? Is the barn going to allow that?</li>
				</ul>
	     	</div>
	     	<div class="col-sm-1"></div>
	    </div>
	</div>    
</div>

<div class="row last_part">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h4>What Apparel Do You Need for Hunt Seat Style Riding? (and how much will it cost you*)</h4>
		<ul>
			<li><h5>In the beginning</h5>
				<ul>
					<li>Helmet ($30-$600): A cheaper helmet (not a bike helmet) will be fine in the beginning, but once you want a nice show helmet you can get one for around $200-$300</li>
					<li>Heeled Boots: any cheap 1/2 inch heeled boots will be fine in the beginning, but eventually you will want paddock boots (approx: $100) and half chaps (approx: $50-$150)</li>
					<li>Knee Patch Breeches ($30-$300): you will be fine with cheaper breeches in the beginning, but nicer show breeches can get expensive</li>
				</ul>
			</li>	
			<li><h5>Showing Apparel (on top of preliminary equipment)</h5>
				<ul>
					<li>Show Helmet: see above</li>
					<li>Show Breeches: see above; tan color</li>
					<li>Field Boots ($200-$1000+): get black leather</li>
					<li>Show Shirt ($50-$200): get white long sleeve shirt</li>
					<li>Show Coat ($200-$1000+)</li>
					<li>Hairnet (approx: $8)</li>
					<li>Boot Socks (approx: $12 per pair)</li>
					<li>Belt ($30-$60): get leather to match boots</li>
					<li>Gloves ($20-$80): get black leather</li>
				</ul>
			</li>	
			<li>*Keep in mind these are just rough estimates, and you can often find good deals on sites such as <a href="http://www.doversaddlery.com/">Dover Saddlery</a> and used apparel on <a href="http://www.ebay.com/">Ebay</a></li>
		</ul>
	</div>
	<div class="col-sm-2" ></div>
</div>
		


{%endblock%}